#!/usr/bin/expect -f

spawn mkfs.s3ql --authfile {{ s3ql_authinfo_file }} --cachedir {{ s3ql_cache_dir }} {{ s3ql_storage_url }}

expect "Enter encryption password:"
send "{{ s3ql_encryption_password }}\r"
expect "Confirm encryption password:"
send "{{ s3ql_encryption_password }}\r"
expect eof