# {{ ansible_managed }}
#
[Unit]
Description=S3QL is a filesystem that stores all its data encrypted online

After=network.target

[Service]

ExecStartPre = /usr/bin/fsck.s3ql  --batch --log syslog --authfile {{ s3ql_authinfo_file }} --cachedir {{ s3ql_cache_dir }} {{ s3ql_storage_url }}
ExecStart    = /usr/bin/mount.s3ql --fg    --log syslog --authfile {{ s3ql_authinfo_file }} --cachedir {{ s3ql_cache_dir }} {{ s3ql_storage_url }} {{ s3ql_mountpoint }}

ExecStop     = /usr/bin/umount.s3ql {{ s3ql_mountpoint }}

TimeoutStopSec = 180 

[Install]
WantedBy=multi-user.target
